html {
	box-sizing: border-box;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 5px 0;
}

body {
	margin: 0 auto;
}
