.about {
	padding-left: 1.562rem;
	display: grid;
	grid-template-areas:
		"headline"
		"content"
		"skills";
}

.about__headline {
	grid-area: headline;
	font-size: 1.75rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.about__text {
	grid-area: content;
	font-size: 1.125rem;
	margin: 0 auto;
	line-height: 1.65rem;
}

.about__link {
	text-decoration: none;
	font-weight: 600;
}

.main__skills {
	grid-area: skills;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}

.about__skill {
	padding: 8px;
	font-weight: 600;
}

@media (max-width: 700px) and (min-width: 320px) {
	.about {
		display: grid;
		grid-template-areas:
			"intro"
			"content"
			"skills";
		margin-top: 1rem;
	}

	.about__headline {
		grid-area: intro;
	}

	.about__text {
		grid-area: content;
	}

	.main__skills {
		grid-area: skills;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.about__skill {
		padding: 6px;
	}
}
