.main {
	padding-left: 1.562rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 0;
	column-gap: 2.5rem;
	grid-template-areas:
		"intro intro"
		"content photo"
		"footer footer";
}

.main__headline {
	grid-area: intro;
	font-size: 1.75rem;
	display: grid;
	align-content: center;
	margin-bottom: 1.5rem;
}

.main__text {
	grid-area: content;
	font-size: 1.125rem;
	margin: 0 auto;
	line-height: 1.65rem;
}

.main__photo {
	grid-area: photo;
	grid-row: 2 / 4;
	max-width: 25rem;
}

@media (max-width: 700px) {
	.main {
		display: grid;
		grid-template-areas:
			"intro"
			"content"
			"photo"
			"footer";
	}

	.main__headline {
		grid-area: intro;
	}

	.main__text {
		grid-area: content;
		margin-bottom: 1.5rem;
	}

	.main__photo {
		grid-area: photo;
	}
}
