#flyoutMenu {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	overflow: scroll;
	z-index: 1000;
	text-align: center;
}

#flyoutMenu.hide {
	visibility: none;
	display: none;
}

#flyoutMenu.show {
	overflow: hidden;
	display: block;
	visibility: visible;
}

button {
	right: 5%;
	top: 5%;
	position: absolute;
	background-color: transparent;
	background-repeat: no-repeat;
	color: white;
}

.closeNav {
	margin: -15px;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 100px;
	font-weight: 600;
}

.closeNav:hover {
	color: #f9ceb7;
}

.box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.box ul {
	padding: 0;
}

.nav-link a {
	text-transform: uppercase;
	list-style: none;
	font-size: 3rem;
	font-weight: 600;
	color: white;
	text-decoration: none;
	line-height: 4rem;
	cursor: pointer;
}

.nav-link a:hover {
	color: #f9ceb7;
	text-decoration: underline;
}

@media only screen and (min-width: 300px) and (max-width: 667px) {
	.box ul {
		padding: 0;
	}
}
